.ingreso {
    background-color: rgb(210, 255, 210);
    margin-bottom: 3px;
    border: 1px {
        radius: 5px;
        style: solid;
        color: black;
    }
}
.egreso {
    background-color: rgb(255, 210, 210);
    margin-bottom: 3px;
    border: 1px {
        radius: 5px;
        style: solid;
        color: black;
    }
}
