nav {
    z-index: 1001;
    border: 1px solid black {
        radius: 5px;
    };
    display: flex;
    position: fixed!important;
    margin-top: 10px;
    margin:  10px;
}
.navContainer {
    display: flex;
    margin-bottom: 10vh;
}
.navbar {
    min-width: 90vw;
    margin-left: 5vw;
    z-index: 1002;
}