.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#tsparticles {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  max-height: 99vh;
  max-width: 99vw;
  z-index: 1000!important;
}
.tsparticles-canvas-el {
  max-height: 99vh;
  max-width: 99vw;
  z-index: 1000!important;

}
.animationButton {
  position: fixed;
  z-index: 1000;
  bottom: 5vh;
  right: 5vw;
}
.col {
  background-color: transparent;
}
.row {
  background-color: transparent;
}
.GeneralContainer {
  z-index: 1001;
  display: flex;
}
.ContentContainer {
  padding-bottom: 10vh;
  margin-bottom: 10vh;
  min-height: 600px;
  min-width: 80vw;
  box-shadow: 0px 0px 30px rgb(134, 134, 134);
  margin-top: 5vh;
  border-radius: 1vmin;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  z-index: 1001;
}
.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.animationOn {
  display: block;
}
.animationOff {
  display: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
/* * {
  outline: red solid 1px;
} */
